<div class="container-fluid">
  <div class="row body-options">
    <% if @conversations.blank? %>
      <div class="container"><h1>No chats started yet.</h1></div>
    <% else %>
      <div class="col-md-3 chat-people">
        <h1>Chats</h1>
        <%= render 'conversations/chats' %>
      </div>

      <div class="col-md-9 chat">
        <div class="chat-header">
          <h2>Open a chat.</h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
