<%= render "users/shared/profile_header" %>

<% provide(:title, @title) %>
<div class="row body-options">
  <div class="col-12">
    <% if @users.any? %>
      <h3><%= @title %></h3>
      <%= render 'users/shared/table', users: @users %>
    <% else %>
      <p>No <%= @title %>.</p>
    <% end %>
  </div>
</div>
