<%= render "users/shared/profile_header" %>

<div class="row body-options">
  <div class="col-12 profile-body">
    <p><%= @user.bio %></p>
    <p id="user-location">(<%= @user.lat %>, <%= @user.lng %>)</p>
  </div>
</div>
