// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-header {
  align-items: flex-start;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;

  .user-gravatar {
    order: 1;
    
    img {
      border: 2px solid gray;
      border-radius: 50%;
    }
  }
  
  .user-name {
    font-family: "Comfortaa", cursive;
    font-weight: bold;
    font-size: 2.5em;
    color: #91C4FF;
    align-self: flex-end;
    order: 2;
    padding: 20px 20px 0px;
  }
  
  .user-buttons{
    align-self: flex-end;
    margin-left: auto;
    order: 3;
  
    .follow {
      background-color: #9BB980 !important;
    }
    
    .follow:hover {
      background-color: #A1C586 !important;
    }
    
    .unfollow {
      background-color: #CA6C75 !important;
    }
    
    .unfollow:hover {
      background-color: #B7414B !important;
    }
  }  
}

.profile-stats {
  a {
    color: #424242;
    font-size: 1.25em;
    padding-right: 20px;
  }
}

.profile-body {
  p {
    font-size: 1.25em;
  }

  p#user-location {
    color: #959595;
  }
}

.people-cards {
  align-items: flex-start;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  
  .people-card {
    margin: 10px;
    
    h4 {
      font-family: 'Comfortaa', cursive;
      font-weight: bold;
      color: #91C4FF;
    }

    p {
      color: #959595;
    }
    
    img {
      border-radius: 10px;
      padding: 5px;
      width: 100%;
    }
  }
}