<%= form_with(model: post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-row">
    <div class="form-group col-md-9 mb-0">
      <%= f.text_area :content, placeholder: "What's on your mind?", class: 'form-control' %>
    </div>

    <div class="col-md-3">
      <%= f.submit class: 'btn btn-primary custom-button', id: 'send-button' %>
    </div>
  </div>
<% end %>
